<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

    <!-- Local repository configuration (optional) -->
    <!-- <localRepository>/path/to/local/repo</localRepository> -->

    <interactiveMode>true</interactiveMode>
    <offline>false</offline>

    <servers>
        <server>
            <id>maven-releases</id>
            <username>admin</username>
            <password>Pradeep@aws</password> <!-- Use encrypted password -->
        </server>
        <server>
            <id>maven-snapshots</id>
            <username>admin</username>
            <password>Pradeep@aws</password> <!-- Use encrypted password -->
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>maven-default-http-blocker</id>
            <mirrorOf>external:http:*</mirrorOf>
            <url>http://0.0.0.0/</url>
            <blocked>true</blocked>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>default</id>
            <properties>
                <!-- You can define any properties specific to your build here -->
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>
</settings>
